<%= form_for(@tool) do |f| %>
  <% if @tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tool.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @tool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.label :job_id %><br />
    <% jobs = Job.all.map{|job| [job.name, job.id]} %>
    <%= f.select(:job_id, jobs) %>
    <%= f.label :usage_count %>
    <%= f.text_field :usage_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
