<%= form_for([:my, Item.new], :method => :put, :html => { :class => "" }) do |f| %>
  <table class="">
    <tbody>
      <tr>
        <th>アイテム名</th>
        <td>
          <%= text_field_tag :keyword,
            '',
            :autocomplete  => "off",
            :placeholder   => "アイテム名または職人道具名を入力",
            :class         => "span12",
            :autofocus     => "autofocus",
            "data-provide" => "typeahead"  %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div id="item_form" class="tabbable tabs-left">
            <ul class="nav nav-tabs">
              <li class="active">
                <%= link_to "#add", "data-toggle" => "tab" do %>
                  <i class="icon-plus"></i>
                <% end %>
              </li>
              <li>
                <%= link_to "#del", "data-toggle" => "tab" do %>
                  <i class="icon-minus"></i>
                <% end %>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="add">
                <%= text_field_tag :cost,
                      '',
                      :autocomplete  => "off",
                      :class         => "span3",
                      :placeholder   => "単価",
                      :type          => :number %>
                ×
                <%= text_field_tag :stock,
                      '',
                      :autocomplete  => "off",
                      :class         => "span3",
                      :placeholder   => "仕入数",
                      :type          => :number %>
                ＝
                <%= text_field_tag :total,
                      '',
                      :autocomplete  => "off",
                      :class         => "span3",
                      :placeholder   => "合計価格",
                      :type          => :number %>
                <%= f.submit "追加", :class => "btn btn-block" %>
              </div>
              <div class="tab-pane" id="del">
                <%= text_field_tag :stock,
                      '',
                      :autocomplete  => "off",
                      :class         => "span3",
                      :placeholder   => "削減数",
                      :id            => "del_stock",
                      :type          => :number %>
                <%= f.submit "削減", :class => "btn btn-block", :id => 'del-button' %>
              </div>
            </div>
          </div>

        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<div id="users_item_list">
<div id="result">
</div>
