<div id="item_form">
  <%= form_for(Item.new, :method => :get, :html => { :class => "form-search" }) do |f| %>
    <div class="input-append">
      <%= text_field_tag :keyword,
            '',
            :autocomplete  => "off",
            :placeholder   => "アイテム名を入力",
            :class         => "span12 search-query",
            :autofocus     => "autofocus",
            "data-provide" => "typeahead"  %>
      <%= text_field_tag :stock,
            '',
            :autocomplete  => "off",
            :placeholder   => "仕入数",
            :type          => :number_field %>
      <%= text_field_tag :cost,
            '',
            :autocomplete  => "off",
            :placeholder   => "合計価格",
            :type          => :number_field %>
      <%= f.submit "追加", :class => "btn" %>
    </div>
  <% end %>
</div>

<div id="result">

</div>
