<div class="hero-unit" id="network_processing">
  <div>
  通信中・・・
  </div>
</div>
<%= form_tag({}, { id: "my_items_update_form" }) do |f| %>
  <table>
    <tbody>
      <tr>
        <th>アイテム名</th>
        <td class="span9">
          <%= text_field_tag :keyword,
            '',
            :autocomplete  => "off",
            :placeholder   => "アイテム名または職人道具名を入力",
            :class         => "span12",
            :autofocus     => "autofocus",
            "data-provide" => "typeahead"  %>
        </td>
      </tr>
      <tr id="item_controlle_panel">
        <th>操作</th>
        <td id="item_form" class="tabbable tabs-left">
          <ul class="nav nav-tabs">
            <li class="active" id="add_tab">
              <%= link_to "#add", "data-toggle" => "tab" do %>
                <i class="icon-plus"></i>
              <% end %>
            </li>
            <li id="del_tab">
              <%= link_to "#del", "data-toggle" => "tab" do %>
                <i class="icon-minus"></i>
              <% end %>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="add">
              <table id="item_inputs">
                <thead>
                  <tr><th>単価</th><th>演算子</th><th>個数</th><th>等号</th><th>合計金額</th></tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="input-append span3">
                      <%= text_field_tag :cost, '', placeholder: "単価", autocomplete: "off", type: :number, class: "calc_input_fields" %>
                      <span class="add-on">G</span>
                    </td>
                    <td class="span1">×</td>
                    <td class="input-append span3">
                      <%= text_field_tag :stock, '', placeholder: "仕入数", autocomplete: "off", type: :number, class: "calc_input_fields" %>
                      <span class="add-on">個</span>
                    </td>
                    <td class="span1">＝</td>
                    <td class="input-append span4">
                      <%= text_field_tag :total, '', placeholder: "合計価格", autocomplete: "off", type: :number, class: "calc_input_fields" %>
                      <span class="add-on">G</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table id="renkin_count_inputs">
                <thead>
                  <tr><th>錬金回数</th><th>価格</th></tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="input-prepend span6">
                      <span class="add-on">+</span>
                      <input id="renkin_count" placeholder="錬金回数" type="number" value="" autocomplete="off" class="calc_input_fields">
                    </td>
                    <td class="input-append span6">
                      <input id="renkin_total" placeholder="価格" type="number" value="" autocomplete="off" class="calc_input_fields">
                      <span class="add-on">G</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <%= submit_tag "追加", class: "btn btn-block", id: 'add-button' %>
            </div>
            <div class="tab-pane" id="del">
              <div class="input-append">
              <%= text_field_tag :stock, '', placeholder: "削減数", autocomplete: "off", class: "span3 calc_input_fields", id: "del_stock", type: :number %>
              <span class="add-on">個</span>
              </div>
              <%= submit_tag "削減", :class => "btn btn-block", :id => 'del-button' %>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<div id="users_item_list" class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#my_item_list" data-toggle="tab">アイテムリスト</a></li>
    <li><a href="#my_equipment_list" data-toggle="tab">装備品リスト</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="my_item_list"></div>
    <div class="tab-pane" id="my_equipment_list"></div>
  </div>
</div>
<div id="result">
</div>
