<div class="hero-unit" id="network_processing">
  通信中・・・
</div>
<%= form_tag({}, { id: "my_items_update_form" }) do |f| %>
  <table class="">
    <tbody>
      <tr>
        <th>アイテム名</th>
        <td class="span9">
          <%= text_field_tag :keyword,
            '',
            :autocomplete  => "off",
            :placeholder   => "アイテム名または職人道具名を入力",
            :class         => "span12",
            :autofocus     => "autofocus",
            "data-provide" => "typeahead"  %>
        </td>
        <td id="renkin_count_inputs" class="span3">
            <span class="span2">+</span><input type="number" value="0" class="span10">
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div id="item_form" class="tabbable tabs-left">
            <ul class="nav nav-tabs">
              <li class="active">
                <%= link_to "#add", "data-toggle" => "tab" do %>
                  <i class="icon-plus"></i>
                <% end %>
              </li>
              <li>
                <%= link_to "#del", "data-toggle" => "tab" do %>
                  <i class="icon-minus"></i>
                <% end %>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="add">
                <%= text_field_tag :cost,
                      '',
                      :autocomplete  => "off",
                      :class         => "span3",
                      :placeholder   => "単価",
                      :type          => :number %>
                ×
                <%= text_field_tag :stock,
                      '',
                      :autocomplete  => "off",
                      :class         => "span3",
                      :placeholder   => "仕入数",
                      :type          => :number %>
                ＝
                <%= text_field_tag :total,
                      '',
                      :autocomplete  => "off",
                      :class         => "span3",
                      :placeholder   => "合計価格",
                      :type          => :number %>
                <%= submit_tag "追加", class: "btn btn-block", id: 'add-button' %>
              </div>
              <div class="tab-pane" id="del">
                <%= text_field_tag :stock,
                      '',
                      :autocomplete  => "off",
                      :class         => "span3",
                      :placeholder   => "削減数",
                      :id            => "del_stock",
                      :type          => :number %>
                <%= submit_tag "削減", :class => "btn btn-block", :id => 'del-button' %>
              </div>
            </div>
          </div>

        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<div id="users_item_list" class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#my_item_list" data-toggle="tab">アイテムリスト</a></li>
    <li><a href="#my_equipment_list" data-toggle="tab">装備品リスト</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="my_item_list">
      <table class="table">
        <thead>
          <tr><th>アイテム名</th><th>在庫数</th><th>単価</th></tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="my_equipment_list">
      <table class="table">
        <thead>
          <tr><th>装備品名</th><th>在庫数</th><th>単価</th></tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="result">
</div>
