<%= form_for(@recipe, :html => {:class => 'form-horizontal'} ) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :level, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field :level, :min => 1 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :job, :class => "control-label" %>
    <div class="controls">
<% Job.all.each do |job| %>
      <label class="radio radio-job" class="control-label">
        <%= f.radio_button :job_id, job.id, {} %>
        <%= job.name %>
      </label>
<% end %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :items, :class => "control-label" %>
    <table class="controls">
  <% @ingredients.each do |ingredient| %>
      <tr>
    <%= f.fields_for "ingredients_attributes[]", ingredient do |field| %>
      <% if ingredient.persisted? %>
        <%= field.hidden_field(:id, value: ingredient.id) %>
        削除<%= field.check_box :_destroy %>
      <% end %>
        <td><%= field.select :item_id, @items, :include_blank => true %></td>
        <td><%= field.number_field :number, :min => 1, :max => 10, :class => 'input-mini' %></td>
    <% end %>
  <% end %>
      </tr>
    </table>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% content_for :head do %>
<style>
  .radio { float : left; }
  .control-group { claer: both; }
  .radio-job { 
    padding-top : 3px !important;
    padding-bottom : 5px;
    height   : 1.3em;
    line-height : 1.5em;
    width   : 3.5em;
    margin-right : 1em;
    border   : solid 1px gray;
    border-radius : 5px;
  } 
</style>
<% end %>
