<% content_for :content do %>

  <%= form_for(Recipe.new, :method => :get, :html => { :class => "form-search", :onsubmit => 'add_recipes();return false;' }) do |f| %>
    <div class="input-append">
      <%= text_field_tag :recipes_keyword,
                         '',
                         :autocomplete  => "off", 
                         :placeholder   => "レシピ名を入力",
                         :class         => "span12 search-query",
                         :autofocus     => "autofocus",
                         "data-provide" => "typeahead"  %>
      <%= f.submit "追加", :class => "btn" %>
    </div>
  <% end %>
<div id="default_contents">
  レシピを登録して必要な素材とお店で素材を買った時の値段をチェック！
</div>
  <div id="added_contents">
  <section>
  <h2>レシピリスト</h2>
  <table id="recipe_list" class="table">
    <thead>
      <tr><th>レシピ名</th><th>原価合計（バザー除く）</th><th></th></tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  </section>

  <section>
  <h2>必要素材</h2>
  <table id="item_list" class="table">
    <thead>
      <tr><th>アイテム名</th><th>合計必要数</th><th>購入金額（店売りのみ）</th></tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  </section>
</div>
<% end %>

<% content_for :javascripts do %>
    <%= javascript_include_tag "recipes" %>
<% end %>

<% content_for :head do %>
    <%= stylesheet_link_tag "recipes", :media => "all" %>
<% end %>

