<% content_for :content do %>

  <%= form_for(Recipe.new, :method => :get, :html => { :class => "form-search", :onsubmit => 'add_recipes();return false;' }) do |f| %>
    <div class="input-append">
      <%= text_field_tag :recipes_keyword,
                         '',
                         :autocomplete  => "off", 
                         :placeholder   => "レシピ名を入力",
                         :class         => "span12 search-query",
                         :autofocus     => "autofocus",
                         "data-provide" => "typeahead"  %>
      <%= f.submit "検索", :class => "btn" %>
    </div>
  <% end %>

  <table id="recipe_list"></table>

  <table id="item_list"></table>
<% end %>


<% content_for :head do %>
    <script>
      function get_recipe_list() {
        var _recipes = new Array();
        $.each( 
          $("#recipe_list th"),
          function(key,val) {
            _recipes.push($(val).text());
          }
        );
        return _recipes;
      }
      function drow_recipe_list(recipe_list) {
        $("#recipe_list").empty();
        for(var i in recipe_list) {
          $("#recipe_list").append("<tr><th>" + recipe_list[i].name + "</th><td>" + recipe_list[i].price + "</td><td><a href=\"#\" onclick=\"javascript:drop_recipes(this)\" class=\"btn\">削除</a></td></tr>");
        }
      }
      function add_recipes() {
        var _recipes = get_recipe_list();
        _recipes.push($('#recipes_keyword').val());
        reload_items(_recipes);
        return false;
      }
      function drop_recipes(elm) {
        $(elm).parents('tr').remove();
        reload_items(get_recipe_list());
        return false;
      }
      function reload_items(recipes) {
        $.getJSON("/recipes.json", { recipes : recipes }, function(json){
          drow_recipe_list(json.recipe_list);
          drow_item_list(json.item_list);
        });
      }
      function drow_item_list(item_list) {
        $("#item_list").empty();
        for(var i in item_list) {
          $("#item_list").append("<tr><th>" + item_list[i].name + "</th><td>" + item_list[i].count + "</td></tr>");
        }
      }
    </script>
<% end %>

<h1>Listing recipes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.name %></td>
    <td><%= recipe.level %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to_if false, 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to_if false, 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe', new_recipe_path %>
