<%-

  def resource_name
    :user
  end

  def resource
    @resource ||= User.new
  end

  def devise_mapping
    @devise_mapping ||= Devise.mappings[:user]
  end

-%>


<nav class="navbar navbar-inverse navbar-static-top"
     id="global-header" role="navigation">

      <div class="container-fluid">

        <div class="navbar-header">
          <%= link_to root_path, class:'navbar-brand' do %>
            <%= t 'app_name' %>
          <% end %>
        </div>

        <div class="collapse navbar-collapse" id="global-header-menu">
          <div class="nav navbar-nav navbar-right">
            <div class="hidden-xs hidden-sm">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{ class: 'navbar-form navbar-right', role: 'search' }) do |f| %>
<%-   unless controller.is_a? Devise::SessionsController -%>
            <div class="form-group">
              <%= f.email_field :email, class: 'form-control', placeholder:'EMail'  %>
              <%= f.password_field :password, class: 'form-control', placeholder:'Password' %>
            </div>
            <button type="submit" class="btn btn-default navbar-btn">
              <i class="fa fa-sign-in fa-lg"></i>
              <span><%= t 'sign_in' %></span>
            </button>
<%-   end -%>
<%-   unless controller.is_a? Devise::RegistrationsController -%>
            <button type="button" class="btn btn-primary navbar-btn">
              <i class="fa fa-edit fa-lg"></i>
              <span><%= t 'sign_up' %></span>
            </button>
<%-   end -%>
          <% end %>

            </div>
            <div class="hidden-md hidden-lg">
              <button class="btn btn-default"
                      data-toggle="modal" data-target="#login-modal">
                <i class="fa fa-sign-in "></i>
                <span><%= t 'sign_in' %></span>
              </button>
              <button class="btn btn-primary"
                      data-toggle="modal" data-target="#signup-modal">
                <i class="fa fa-edit "></i>
                <span><%= t 'sign_up' %></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <div class="modal fade" id="signup-modal"
         tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
              ユーザー登録
            </h4>
          </div>

          <%= simple_form_for(resource, as: resource_name,
                       url: registration_path(resource_name),
                       html:{ class:'form-horizontal', role: 'form' }) do |f| %>

            <div class="modal-body">
              <%= f.input :email,
                          input_html: { class:'form-control' },
                          wrapper_html: { class:'form-group' } %>
              <%= f.input :password,
                          input_html: { class:'form-control' },
                          wrapper_html: { class:'form-group' } %>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <span>close</span>
              </button>
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-edit fa-lg"></i>
                <span><%= t 'sign_in' %></span>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="modal fade" id="login-modal"
         tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
              ログイン！
            </h4>
          </div>

          <%= simple_form_for(resource, as: resource_name,
                       url: session_path(resource_name),
                       html:{ class:'form-horizontal', role: 'form' }) do |f| %>

            <div class="modal-body">
              <%= f.input :email,
                          input_html: { class:'form-control' },
                          wrapper_html: { class:'form-group' } %>
              <%= f.input :password,
                          input_html: { class:'form-control' },
                          wrapper_html: { class:'form-group' } %>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <span>close</span>
              </button>
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-edit fa-lg"></i>
                <span><%= t 'sign_in' %></span>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>

