<% content_for :content do %>
<%= form_for(Item.new, :method => :get, :html => { :class => "form-search" }) do |f| %>
  <div class="input-append">
    <%= text_field_tag :keyword,
          '',
          :placeholder   => "素材名を入力",
          :class         => "span12 search-query",
          :autofocus     => "autofocus",
          "data-provide" => "typeahead"  %>
    <%= f.submit "検索", :class => "btn" %>
  </div>
<% end %>
<style>
h1 {
	font-size	 : 20px;
	line-height	 : 20px;
	margin		 : 30px 0px 5px;
}

.item-list li {
	font-size	 : 20px;
	line-height	 : 30px;

}
</style>
<% if @item %>
<h1><%= @item.name %>を含むレシピ</h1>
<div class="tabbable job_tabs"> 
  <ul class="nav nav-pills">
<%   Job.all.each_with_index do |job,i| %>
<%     @job_classes = ["job_tab#{i}"] %>
<%     @job_classes << "disabled" unless @item.jobs.include? job %>
    <li class="<%= @job_classes.join(" ") %>">
      <a href="#job<%= job.id %>" <%= 'data-toggle="tab"'.html_safe unless @job_classes.include? "disabled" %>>
        <%= job.name %>
<% unless @job_classes.include? "disabled" %>
<span class="badge"><%= @item.recipes.where(:job_id => job.id).count %></span>
<% end %>
      </a>
    </li>
<%   end %>
  </ul>


  <div class="tab-content">
<%   @item.jobs.each do |job| %>
    <div class="tab-pane <%= "active" if job.id == 1 %>" id="job<%= job.id %>">
      <table class="table">
        <tr>
          <th><%= Recipe.human_attribute_name(:name) %></th>
          <th><%= Recipe.human_attribute_name(:level) %></th>
        </tr>
<%     @item.recipes.where(:job_id => job.id).order("level ASC").each do |recipe| %>
        <tr>
          <td><%= recipe.name %></td>
          <td><%= recipe.level %></td>
        </tr>
<%     end %>
      </table>
      <br />
    </div>
<%   end %>

  </div>
</div>
<% elsif @items.empty? && !params[:keyword].nil? %>
<p>該当する素材がみつかりませんでした</p>
<% elsif @items && !params[:keyword].nil? %>
<p>複数の素材が該当しました。下記のなかからレシピを確認したいアイテムを選択してください</p>
<div class="item-list">
<ul class="nav nav-tabs nav-stacked">
<% @items.each do |item| %>
  <li><%= link_to item.name, items_path(:keyword => item.name) %></li>
<% end %>
</ul>
</div>
<% else %>
<p>素材名を入力して使う職人とレシピをチェックしよう！</p>
<% end %>

<% end %>


<% content_for :sidebar do %>
<ul class="histories">
<%   @cookie_history.each do |history| %>
<%     item = Item.find(history["i"]) %>
<%= link_to items_path(:keyword => item.name) do %>
<li>
<article>
<h2><%= item.name %></h2>
<ul class="job_markers clearfix">
<%     Job.all.each_with_index do |job,i| %>
<%       @job_classes = ["label", "job_marker#{i}"] %>
<%       @job_classes << "disabled" unless item.jobs.include? job %>
  <li class="<%= @job_classes.join(" ") %>"><%= job.name[0] %></li>
<%     end %>
</ul>
</article>
</li>
<%   end %>
<% end %>
</ul>
<% end %>
