<%= form_for(Item.new, :method => :get, :html => { :class => "form-search" }) do |f| %>
  <div class="input-append">
    <%= f.text_field :name, :class => "span2 search-query" %>
    <%= f.submit "検索", :class => "btn" %>
  </div>
<% end %>

<div class="tabbable"> 
<ul class="nav nav-pills">
<% Job.all.each do |job| %>
<%   @job_classes = [] %>
<%   @job_classes << "disabled" unless @item.jobs.include? job %>
  <li class="<%= @job_classes.join(" ") %>"><a href="#job<%= job.id %>" <%= 'data-toggle="tab"'.html_safe unless @job_classes.include? "disabled" %>><%= job.name %></a></li>
<% end %>
</ul>

  <div class="tab-content">
<% @item.jobs.each do |job| %>
    <div class="tab-pane <%= active if job.id == 1 %>" id="job<%= job.id %>">

<table>
  <tr>
    <th><%= Recipe.human_attribute_name(:name) %></th>
    <th><%= Recipe.human_attribute_name(:level) %></th>
  </tr>

<% @item.recipes.where(:job_id => job.id).each do |recipe| %>
  <tr>
    <td><%= recipe.name %></td>
    <td><%= recipe.level %></td>
  </tr>
<% end %>
</table>

<br />

    </div>
<% end %>
</div>
