<% content_for :head do %>
<% end %>
<% content_for :contents do %>
  <div id="global-navigation">
    <ul class="nav nav-pills">

      <%= content_tag :li,
        class: controller.is_a?(ItemsController) ? [:active] : [] do %>
        <%=   link_to items_path do %>
          <i class="fa fa-leaf fa-lg"></i>
          <span class="global-navigation-text"> 素材辞典</span>
        <% end %>
      <% end %>

      <%= content_tag :li,
        class: controller.is_a?(RecipesController) ? [:active] : [] do %>
        <%= link_to recipes_path do %>
          <i class="fa fa-book fa-lg"></i>
          <span class="global-navigation-text"> レシピ帳</span>
        <% end %>
      <%  end %>

<%- if user_signed_in? -%>
      <%= content_tag :li,
        class: controller.is_a?(My::ItemsController) ? [:active] : [] do %>
        <%= link_to my_items_path do %>
          <i class="fa fa-th-list fa-lg"></i> 在庫管理
        <% end %>
      <%  end %>

<%-   if current_user.admin? -%>
      <%= content_tag :li, class: 'dropdown' do %>
        <%= link_to '#', 'class' => 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
          <i class="fa fa-th-list fa-lg"></i>
          管理
          <span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu">
          <li>
            <%= link_to t('.new_recipe_link'), new_recipe_path %>
          </li>
          <li>
            <%= link_to t('.new_item_link'), new_item_path %>
          </li>
        </ul>
      <%  end %>
<%-   end -%>
<%- end -%>
    </ul>

  </div>

    <div class="container">
      <div class="content">
        <div class="row-fluid">
          <div class="span8" id="main-content">
<%= content_for?(:content) ? yield(:content) : yield %>
          </div>
          <div class="span4" id="aside-content">
<% if content_for?(:sidebar) %>
            <div class="well sidebar-nav">
<%= yield(:sidebar) %>
            </div>
<% end %>
<%= render "commons/amazon_affiliate" %>
          </div>
        </div><!--/row-->
      </div><!--/content-->

      <%= render "commons/global_footer" %>

    </div> <!-- /container -->

<% end %>
<%= render :file => 'layouts/application' %>
