<% content_for :head do %>
  <% if admin_signed_in? %>
    <style>
      @media (min-width:980px) {
        body {
          padding-top  : 80px;
        }
      }
    </style>
  <% end %>
<% end %>
<% content_for :contents do %>
  <ul class="nav nav-pills">

    <%= content_tag :li,
      class: controller.is_a?(ItemsController) ? [:active] : [] do %>
      <%=   link_to items_path do %>
        <i class="fa fa-leaf fa-lg"></i> 素材辞典
      <% end %>
    <%  end %>

    <%= content_tag :li,
      class: controller.is_a?(RecipesController) ? [:active] : [] do %>
      <%= link_to recipes_path do %>
        <i class="fa fa-book fa-lg"></i> レシピ帳
      <% end %>
    <%  end %>

<% if user_signed_in? %>
    <%= content_tag :li,
      class: controller.is_a?(My::ItemsController) ? [:active] : [] do %>
      <%= link_to my_items_path do %>
        <i class="fa fa-th-list fa-lg"></i> 在庫管理
      <% end %>
    <%  end %>
<% end %>

  </ul>

    <div class="container">
      <div class="content">
        <div class="row-fluid">
          <div class="span8">
<%= content_for?(:content) ? yield(:content) : yield %>
          </div>
          <div class="span4">
<% if content_for?(:sidebar) %>
            <div class="well sidebar-nav">
<%= yield(:sidebar) %>
            </div>
<% end %>
<%= render "commons/amazon_affiliate" %>
          </div>
        </div><!--/row-->
      </div><!--/content-->

      <%= render "commons/global_footer" %>

    </div> <!-- /container -->

<% end %>
<%= render :file => 'layouts/application' %>
